//   NAV

nav {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    .logo {
        font-size: 3rem;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        a {
            margin: 20px;
            text-decoration: none;
            li {
                list-style: none;
                // border: 1px solid #fff;
                padding: 10px;
                transition: ease-in-out .2s;
                &:hover {
                    background-color: #20212479;
                    box-shadow: 0 0.200rem 0.375rem 0 rgba(0, 0, 0, 0.30);
                    color: #4BF5FB;
                }
            }
        }
    }
}